.sc-message {
  width: 270px;
  margin: auto;
  padding-bottom: 4px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--text {
  padding: 8px 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #00CB9B;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sc-message--emoji {
  font-size: 40px;
}

.sc-message--file {
  padding: 8px 16px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  text-decoration: none;
}

.sc-message--file:hover {
  text-decoration: none;
}

.sc-message--content.sent .sc-message--file {
  max-width: calc(100% - 120px);
  background: #00cb9b;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sc-message--content.received .sc-message--file {
  margin-right: 40px;
  background: #f4f7f9;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px
}

.sc-message--file i {
  font-size: 24px;
}

.sc-message--file p {
  margin: 0px 0px 0px 10px;
  color: white;
}

.sc-message--img {
  cursor: pointer;
  display: inline-block;
  max-width: calc(100% - 80px);
  height: 120px;
}

.sc-message--img img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 100%;
}

.sc-message--content.sent .sc-message--img img {
  border-top-right-radius: 12px;
}

.sc-message--content.received .sc-message--img img {
  border-bottom-right-radius: 12px;
}

.sc-message--audio, .sc-message--video {
  width: auto;
}

.sc-message--audio audio {
  max-width: calc(100% - 80px);
  outline: none;
  display: inherit;
}

.sc-message--video video {
  max-width: calc(100% - 80px);
  display: inherit;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sc-message--content.sent .sc-message--video video {
  border-top-right-radius: 12px;
}

.sc-message--content.sent .sc-message--video video {
  border-bottom-right-radius: 12px;
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}